<section>
  <div class="container-fluid">
    <nav class="navbar navbar-dark px-1">
      <div class="nav-left">
        <button class="navbar-toggler pl-0 border-0" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="sideMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand head-info-wrapper" href="#">{{headerText}}</a>
      </div>
      <div class="nav-right row head-btn-wrapper" *ngIf="headerText !== 'Load Board'">
          <div class="col-auto px-2">
            <button class="btn btn-sm btn-danger px-3" routerLink="/load/">Cancel </button>
          </div>
          <div class="col-auto px-2">
            <button class="btn btn-sm btn-success px-3" (click)="formSubmit.emit();" [disabled]="!loadFormValid">{{!isEdit ? 'Create' : 'Update'}}</button>
          </div>
      </div>
    </nav>
  </div>
</section>

 <app-side-menu id="sideMenu" [ngbCollapse]="isCollapsed"></app-side-menu>
