@import '../scss/skin';

// .ng-invalid:not(form) {
//   border-color: #dc3545;
// }

.is-invalid {
  border-color: $tm-rd;
}

.cur-pointer {
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
}

// Width Varients
.w-80 {
  width: 80%;
}

// Line-Height
.ln-h-05 {
  line-height: 0.5 !important;
}

// Typeahead to match its parent width
.card {
  ngb-typeahead-window.dropdown-menu {
    width: 100% !important;
    max-height: 9.5rem;
    overflow-y: scroll;
  }
}

// Mandatory Asteriks - Form-fields
.mandatory {
  color: $tm-rd;
  font-size: 0.5rem;
  margin-left: 0.5rem;
  position: relative;
  bottom: 1px;
}

// Ngx Datatable - Checkbox Visibility Overides
.datatable-checkbox input[type=checkbox]:before {
  border-color: darken($white, $amount: 40%);
}

// Ngx Datatable - Placing Totals, Pagination at Top
.ngx-datatable {
  .datatable-header {
    position: absolute;
    top: 50px;
    @include media-breakpoint-up(lg) { 
      top: 35px !important;
    }
  }

  .datatable-body {
    margin-top: 80px;
    @include media-breakpoint-up(lg) { 
      margin-top: 65px !important;
    }
    .datatable-body-row {
      .datatable-body-cell {
        padding: 0.3rem 1.2rem !important;
        .datatable-body-cell-label {
          font-size: 0.67rem;

          a {
            color: $tm-vt !important;
            text-decoration: none;

            &::before {
              font-size: 1.2rem !important;
            }
          }
        }
      }
    }
  }

  .datatable-footer {
    position: absolute;
    top: -1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    .datatable-footer-inner {
      background-color: lighten($tm-vt, $amount: 60%);
      @include media-breakpoint-up(lg) { 
        height: 35px !important;        
        overflow: hidden;
      }
    }
  }  

  // Angulr-Material theme overides
  &.material {
    .datatable-header {
      background-color: lighten($tm-vt, 10%);
      .datatable-header-cell {
        padding: 0.3125rem 1.2rem;
        background-color: lighten($tm-vt, 10%);
        color: $white;
      }
    }

    .datatable-body {
      .datatable-row-detail {
        background-color: lighten($tm-vt, 60%);
        color: $white;
      }
    }
  }
}

// Materials - Slider
.mat-slider-horizontal {
  width: 100%;
}

// Materials - Datepicker
.cdk-overlay-container {
  z-index: 10300000001 !important;
}

.mat-calendar-header {
  padding-top: 0 !important;
  .mat-calendar-controls {
    margin-bottom: 0 !important;
  }
}
.mat-datepicker-content {
  .mat-calendar {
    width: 200px !important;
  }
  .time-container.disable-seconds {
    .ngx-mat-timepicker {
      .table {
        margin-left: 0 !important;
        th, td {
          padding: 0 !important;
        }
      }
    }
  }
  .actions {
    padding: 1px 15px 5px !important;
    .mat-stroked-button {
      padding: 0 8px !important;
      line-height: 22px !important;
    }
  }
  .mat-form-field-infix {
    border-top: none !important;
  }
}