// Global Swatches
$white: #fff;
$black: #000;
$tm-bk: #343a40;
$tm-vt: #1e1e3f;
$tm-or: #ff9701;
$tm-gy: #d2d2d2;
$tm-bu: #19212E;
$tm-rd: #dc3545;

//Toaster
$tst-error: #bd2130;
$tst-success: #1e7e34;