
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$loadboard-poc-primary: mat-palette($mat-indigo);
$loadboard-poc-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$loadboard-poc-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$loadboard-poc-theme: mat-light-theme($loadboard-poc-primary, $loadboard-poc-accent, $loadboard-poc-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($loadboard-poc-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

@import 'vendor/vendor';

@import 'common';

@import 'skin';



body {
  background-color: $tm-gy !important;
}

.header {
  position: fixed;
  z-index: 10300000000;
  left: 0;
  right: 0;
  top: 0;
  // background-color: dimgrey;
  background-color: darken($tm-vt, 3%);
  color: aliceblue;
  // padding: 18px;
  // border-bottom: 3px solid darkgray;
  border-bottom: 3px solid $tm-or;
}

.footer {
  padding-top: 25px;
  padding-bottom: 25px;
  z-index: 10300000000;
  left: 0;
  right: 0;
  top: 0;
  background-color: black;
  color: #fff;
  overflow: hidden;
}

.footer a {
  color: #fff;
}

.copyright-text {
margin-left: 15%;
float: left;
width: 60%;
}

.footer-right {
float: right;
width: 25%;
}

.footer-logo {
float: left;
}

.logo-title {
margin-top: 5px;
}

.logo {
float: left;
margin-left: 1%;
width: 5%;
}

.main-body {
    padding-top: 3.375rem;
}

.header-item{
  float: left;
  font-size: 1em;
  width: 6%;
  color: black;
  font-family: sans-serif;
}

.header-title{
  float: left;
  font-size: 1em;
  font-weight: bolder;
  width: 8%;
  color: aliceblue;
  font-family: sans-serif;
  margin-top: 12px;
}

.user-profile {
  float: right;
  color: black;
  margin-right: 1%;
}

// --------------------
// Toastr Swatches
// --------------------
@import '~ngx-toastr/toastr-bs4-alert';

.toast-container {
  z-index: 100000000000;
  margin-top: 0.75rem;
}
.toast-error {
  background-color: $tst-error;
}
.toast-success {
  background-color: $tst-success;
}

// --------------------
// Toastr Ends
// --------------------


// input[type="text"]::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
//   color: #adaeb0;
//   opacity: 1; /* Firefox */
// }

// input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
//   color: #adaeb0;
// }

// input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */
//   color: #adaeb0;
// }

// textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
//   color: #adaeb0;
//   opacity: 1; /* Firefox */
// }

// textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
//   color: #adaeb0;
// }

// textarea::-ms-input-placeholder { /* Microsoft Edge */
//   color: #adaeb0;
// }


// Ngxdatatable - Global Overrides
.ngx-datatable.material .datatable-header {
  height: 30px !important;
}
.ngx-datatable.material.single-selection .datatable-body-row.active, 
.ngx-datatable.material.single-selection .datatable-body-row.active .datatable-row-group, 
.ngx-datatable.material.multi-selection .datatable-body-row.active, 
.ngx-datatable.material.multi-selection .datatable-body-row.active .datatable-row-group, 
.ngx-datatable.material.multi-click-selection .datatable-body-row.active, 
.ngx-datatable.material.multi-click-selection .datatable-body-row.active .datatable-row-group {
  background-color: $tm-gy;
}
.ngx-datatable.material.single-selection .datatable-body-row.active:hover, 
.ngx-datatable.material.single-selection .datatable-body-row.active:hover .datatable-row-group, 
.ngx-datatable.material.multi-selection .datatable-body-row.active:hover, 
.ngx-datatable.material.multi-selection .datatable-body-row.active:hover .datatable-row-group, 
.ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover, 
.ngx-datatable.material.multi-click-selection .datatable-body-row.active:hover .datatable-row-group {
  background-color: $tm-gy;
}

.ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell, 
.ngx-datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-group-cell {
  white-space: normal !important;
  line-height: 1.3;
}

