@import "../../../../../assets/scss/vendor/bootstrap/config";
@import "../../../../../assets/scss/skin";

.md-datepicker-input-container {
    width: 50%;
    margin-left: 0px;
}

.mat-form-field-infix {
    width: 100px !important;
}

.mat-datepicker-content .time-container {
    padding-top: 0px !important;
}

.table th,
.table td {
    vertical-align: middle;
}


.table {
    margin-bottom: 0rem !important;
}
::ng-deep .mat-datepicker-content .ngx-mat-datetime-picker {
    width: 200px !important;
    height: 200px !important;
}

.btn-blue {
    font-size: 0.57rem !important; 
    background-color: $tm-bu !important;
}

.btn-blue:disabled {
    background-color: lighten($tm-bu, $amount: 50%) !important;
    border-color: lighten($tm-bu, $amount: 50%);
    color: lighten($tm-bu, $amount: 10%);
}

.is-header-row {
    background-color: lighten($tm-vt, 50%);
}

// Custom Expand Column
.lbd-dtl-row {
    display: flex;
    padding: 5px 60px;
    flex-direction: column;
    .lbd-dtl-column {
        display: flex;
        flex-direction: row;
        .lbd-dtl-item {
            margin-right: 2rem;
            margin-bottom: 0.5rem;
            font-size: 0.67rem;
            min-width: 10rem;
            .lbd-dtl-head {
                font-weight: bold;
                letter-spacing: 1px;
                color: $tm-vt;
            }
            .lbd-dtl-data {
                letter-spacing: 1px;
                color: $tm-vt;
            }
        }
    }
}
