<header class="header">
  <app-header [headerText]="headerText" [isEdit]="isEdit" [loadFormValid]="loadForm.valid" (formSubmit)="saveOrUpdate()"></app-header>
</header>

<main class="main-body">
  <div class="container-fluid my-2">
    <section>
      <app-load-details [(loadForm)]="loadForm"></app-load-details>
    </section>
  </div>
</main>
