::ng-deep {
    @import '../../../../../assets/scss/skin';

    .accordion {
        @media (min-width: 992px) {
            .form-row > .col, .form-row > [class*=col-] {            
                padding-right: 20px;
            }
        }        

        .card {
            margin-bottom: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
            .card-header {
                padding: 0.20rem .75rem;
                background-color: darken($tm-vt, 1%);
                .btn {
                    &.btn-link {
                        width: 100%;
                        text-decoration: none;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
            ngb-typeahead-window {
                &.dropdown-menu {
                    width: 97%;
                }
            }
            .invalid-element {
                width: 100%;
                margin-top: 0.25rem;
                font-size: 80%;
                color: $tm-rd;
            }
            .card-body {
                padding: 0.75rem;
            }
        }

        .form-control,
        .btn {
            font-size: 0.875rem;
        }
    }
}
