// ----------------------------------
//       Progress Status Bar
// ----------------------------------

// Bootstrap
@import '../../../../../assets/scss/vendor/vendor';
@import '../../../../../assets/scss/skin';

.progress-status-container {
    .progress-list {
        display: flex;
        justify-content: center;
        margin: 1rem 0;
        @include media-breakpoint-down(md) {
            & {
                padding: 0.5rem 0;
                overflow-x: scroll;
                justify-content: flex-start;
            }
        }
        .progress-item {
            display: flex;
            flex-direction: row-reverse;
            position: relative;
            z-index: 1;
            margin-right: 0.3125rem;
            &::before {
                content: '.';
                border-bottom: 2px solid $tm-vt;
                position: absolute;
                z-index: -1;
                width: 96%;
                bottom: 14px;
            }
            &:last-child::before {
                border-bottom: 0;
            }
            .progress-title {
                text-transform: capitalize;
                display: flex;
                align-items: center;
                white-space: nowrap;
                position: relative;
                margin-left: 0.5rem;
                padding-right: 0.5rem;
                font-size: 0.75rem;
                span {
                    background-color: $tm-gy;
                    padding-left: 0.3125rem;
                    position: relative;
                    left: -0.5rem;
                }
            }
            .progress-index {
                background-color: $tm-vt;
                color: $white;
                border: 2px solid $white;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                -moz-box-shadow: 0 8px 6px -6px $black;
                -webkit-box-shadow: 0 8px 6px -6px $black;
                box-shadow: 0 8px 6px -6px $black;
                &.active {
                    font-weight: bold;
                    background-color: $tm-or;
                    color: $tm-vt;
                    border-color: $tm-vt;
                }
            }
        }
    }
}

.accord-title {
    font-size: 0.875rem;
    line-height: normal;
}




